<?xml version="1.0" ?>
<!-- This file should ONLY contain the macro definition -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="conveyor_belt" params="parent *origin_block">
        <!-- This is the static frame of the conveyor belt -->
        <link name="conveyor_base_link">
            <visual>
                <geometry>
                    <mesh filename="package://mycobot_description/meshes/conveyor_belt/visual/conveyor_belt.dae"/>
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://mycobot_description/meshes/conveyor_belt/collision/conveyor_belt.stl"/>
                </geometry>
            </collision>
            <inertial>
              <mass value="15.0" />
              <origin xyz="0 0 0" rpy="0 0 0"/>
              <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
            </inertial>
        </link>

        <!-- This joint places the conveyor belt in the world, attached to the parent frame -->
        <joint name="${parent}_to_conveyor_base_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="conveyor_base_link"/>
            <xacro:insert_block name="origin_block"/>
        </joint>

        <!-- This is the moving surface of the belt -->
        <link name="conveyor_surface_link">
            <visual>
                <origin xyz="0 0 -0.005" rpy="0 0 0"/>
                <geometry>
                    <box size="1.1 0.41 0.0075"/>
                </geometry>
                <material name="DarkGreen">
                    <color rgba="${6/255} ${6/153} ${6/77} 1.0"/>
                </material>
            </visual>
            <collision name="belt_collision">
                <geometry>
                    <box size="1.1 0.41 0.001"/>
                </geometry>
                <gazebo reference="belt_collision">
                    <surface>
                        <friction>
                            <ode><mu>100.0</mu><mu2>100.0</mu2></ode>
                            <torsional><coefficient>1000.0</coefficient><patch_radius>0.1</patch_radius></torsional>
                        </friction>
                    </surface>
                </gazebo>
            </collision>
            <inertial>
                <mass value="100.0"/><origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
            </inertial>
        </link>

        <joint name="conveyor_belt_joint" type="prismatic">
            <parent link="conveyor_base_link"/>
            <child link="conveyor_surface_link"/>
            <origin xyz="0 0 0.741" rpy="0 0 ${pi/2}"/>
            <axis xyz="1 0 0"/>
            <limit lower="0.0" upper="0.01" effort="100" velocity="1.0"/>
        </joint>
    </xacro:macro>
</robot>