<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="workspace">
    <xacro:macro name="workspace" params="parent *origin_block">
        <link name="table">
            <visual>
                <geometry>
                    <mesh filename="package://mycobot_description/meshes/workspace/visual/robot_workspace.dae"/>
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://mycobot_description/meshes/workspace/collision/robot_workspace.stl"/>
                </geometry>
            </collision>
            <inertial>
              <mass value="10.0" />
              <origin xyz="0 0 0" rpy="0 0 0"/>
              <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
            </inertial>
        </link>

        <joint name="${parent}_to_table_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="table"/>
            <origin xyz="-0.235 -0.235 0" rpy="0 0 ${pi/2}"/>
        </joint>

        <link name="start_storage">
            <visual>
                <geometry>
                    <mesh filename="package://mycobot_description/meshes/storage/visual/storage.dae"/>
                    
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://mycobot_description/meshes/storage/collision/storage.stl"/>
                </geometry>
            </collision>
            <inertial>
              <mass value="10.0" />
              <origin xyz="0 0 0" rpy="0 0 0"/>
              <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
            </inertial>
        </link>

        <joint name="${parent}_to_start-storage_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="start_storage"/>
            <origin xyz="-0.07 -0.385 0.9" rpy="0 0 0"/>
        </joint>


        <!-- Test obstacle -->
        <!-- <link name="obstacle">
            <inertial>
                <mass value="10.0" />
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
            </inertial>
            <visual>
                <geometry>
                    <box size="0.2 0.2 0.2" />
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <box size="0.02 0.02 0.02" />
                </geometry>
            </collision>
        </link>

        <joint name="${parent}_obstacle" type="fixed">
            <parent link="${parent}"/>
            <child link="obstacle"/>
            <origin xyz="-0.2 0 1.09" rpy="0 0 0"/>
        </joint> -->
    </xacro:macro>
</robot>